/***** medium Layout *****/

@media (min-width: 992px) and (max-width: 1200px) {
    #navbar ul li a {
        font-size: 16px;
        text-transform: capitalize;
        padding: 20px 15px;
    }

    .service-right {
        font-size: 14px;
    }

    .sd {
        height: 455px;
    }

    .story-bottom h3 {
        font-size: 18px;
    }

}

/***** Tablet Layout *****/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .wel-come,
    .menu-top {
        text-align: center;
    }

    .menu-top {
        margin-bottom: 20px;
    }

    .menu-top li {
        padding: 0;
    }

    /* menu start */
    .navbar-header > label,
    .switch,
    .menu-container label {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu-switcher:checked + #navbar {
        display: block;
    }

    .menu-container {
        margin: 0 0 50px;
        float: left;
        width: 100%;
        position: relative;
    }

    #navbar ul {
        width: 100% !important;
        margin: 0;
        overflow: hidden;
        padding: 10px 0;
        display: inline-block;
    }

    #navbar ul li {
        width: 100%;
        float: left;
        margin: 0 !important;
        text-align: left;
    }

    #navbar ul li a {
        color: #fff;
        padding: 10px 35px;
        display: block;
        font-size: 13px;
        border: 0 !important;
    }

    #navbar {
        width: 100%;
        float: left;
        height: auto;
        position: absolute;
        top: 60px;
        z-index: 999;
        left: 0;
        background-color: #000;
    }

    /* menu end */
    .service-left,
    .service-right {
        width: 100%;
        text-align: center;
    }

    .service-right {
        font-size: 14px;
    }

    .service-box {
        width: 100%;
    }

    .sd {
        height: auto;
        padding: 5px 20px 20px !important;
        margin-top: 30px;
    }

    .satisfacation {
        margin: 11px 0;
    }

    .pro-single-img {
        height: 358px;
    }

    .box-area h1 {
        font-size: 20px;
    }

    .story-bottom h3 {
        font-size: 20px;
    }
}

/***** Mobile Layout *****/

@media only screen and (max-width: 767px) {

    body,
    .wel-come h4,
    .support p,
    .service-right a,
    .tab-section p,
    .single-care p,
    .footer-area p,
    .pro-content ul li,
    .table_new tr td {
        font-size: 13px;
    }

    .wel-come,
    .menu-top {
        text-align: center;
    }

    .menu-top {
        margin-bottom: 20px;
    }

    .menu-top li {
        padding: 0;
    }

    .logo {
        text-align: center;
        margin: 20px 0;
    }

    .logo img {
        width: 200px;
    }

    .sd {
        height: auto;
        margin-top: 30px;
    }

    .sub-btn {
        width: 100%;
    }

    .story-bottom h3 {
        font-size: 18px;
    }

    .header-area {
        margin: 0;
    }

    .satisfacation {
        display: none;
    }

    .story-info {
        height: 300px;
    }

    .dis-heading {
        margin: 30px 0 0;
    }

    .box-area h1 {
        font-size: 16px;
        padding: 10px;
        line-height: 1.6;
    }

    .why-us {
        width: 100%;
    }

    .why-us h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    .why-us h3 i {
        transform: rotate(90deg);
    }

    .wel-come {
        padding: 10px 0;
    }

    .wel-come {
        text-align: center;
    }

    .support {
        text-align: center !important;
    }

    .support h2 {
        font-size: 18px;
    }

    .footer-logo img {
        width: 250px;
    }

    .pro-title h3 {
        font-size: 16px;
    }

    /* menu start */
    .navbar-header > label,
    .switch,
    .menu-container label {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu-switcher:checked + #navbar {
        display: block;
    }

    .menu-container {
        margin: 0 0 50px;
        float: left;
        width: 100%;
        position: relative;
    }

    #navbar ul {
        width: 100% !important;
        margin: 0;
        overflow: hidden;
        padding: 10px 0;
        display: inline-block;
    }

    #navbar ul li {
        width: 100%;
        float: left;
        margin: 0 !important;
        text-align: left;
    }

    #navbar ul li a {
        color: #fff;
        padding: 10px 35px;
        display: block;
        font-size: 13px;
        border: 0 !important;
    }

    #navbar {
        width: 100%;
        float: left;
        height: auto;
        position: absolute;
        top: 60px;
        z-index: 999;
        left: 0;
        background-color: #000;
    }

    /* menu end */
    .support-box ul li {
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        border-left: 1px solid #D1D1D1;
    }

    .satisfacation {
        text-align: center;
    }

    .header-wraper {
        margin: 20px 0 0;
    }

    .satisfacation img {
        width: 80px;
        margin: 0 10px 10px 0px;
    }

    .service-box {
        width: 100%;
    }

    .pro-content h3,
    .tab__content h3 {
        font-size: 16px;
    }

    .tab__content {
        padding: 0 10px;
    }

    .box-content {
        padding: 20px 10px 0;
    }

    .pro-content {
        font-size: 13px;
    }


    .pro-content h4 {
        font-size: 16px;
    }

    .footer-widget {
        margin-bottom: 30px;
    }

    .footer-widget.footer-logo {
        margin: 0;
        text-align: center;
    }

    .footer-widget h3 {
        padding: 30px 0 10px;
    }

    .footer-pay img {
        padding-top: 0;
    }

    .copy-right p {
        font-size: 14px;
    }

    .pro-single-img {
        height: 300px;
    }
}

/***** Wide Mobile Layout *****/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .service-left,
    .service-right {
        width: 100%;
        text-align: center;
    }
}
